@CHARSET "UTF-8";
	table,th,tr,td{
		border: 1px red solid;
		border-collapse: collapse;
	}
	th, td{
		width: 300px;
	}
	body{
		text-align: center;
	}
	#tabId{
		width: 1000px;
		margin: 0px auto;
		margin-top: 20px;
	}
	